In [ ]:
# https://knanne.github.io/notebooks/pandas_process_XML.html

In [1]:
import xmltodict
import json
import numpy as np
import pandas as pd
#import modin.pandas as pd

/home/ubuntu/venv/lib/python3.5/importlib/_bootstrap.py:222: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)
/home/ubuntu/venv/lib/python3.5/importlib/_bootstrap.py:222: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)

In [2]:
file1 = 'AMP-1551441621600.xml'
file2 = 'CMP-1551442404739.xml' #done
file3 = 'CPN-1551441614834.xml' #done
file4 = 'NONMEDICINAL-1551442405811.xml'
file5 = 'REF-1551442403585.xml'
file6 = 'RMB-1551442388793.xml'
file7 = 'RML-1551442383410.xml' #done
file8 = 'VMP-1551442363567.xml' #done (2)

In [3]:
def load_print(file):
    with open(file) as fd:
        d = xmltodict.parse(fd.read())
    print(json.dumps(d, indent=2)[0:5000])
    return d

In [4]:
def save_to_csv(file, df, entry):
    df.to_csv("csv/"+entry+"_"+file[:-3]+"csv", index=False)

# file8

In [ ]:
file = file8

In [ ]:
d = load_print(file)

In [ ]:
root  = "ns3:ExportVirtualMedicines"
entry = "ns3:Vtm"
df = pd.DataFrame.from_dict(d[root][entry])

In [ ]:
df.sample(5)

In [ ]:
pd.Series(df["ns3:Data"][0])

In [ ]:
df = df.join(df['ns3:Data'].apply(pd.Series), how='left')

In [ ]:
df[0][0]

In [ ]:
df = df.drop(['ns3:Data', 0, 1], axis=1).rename(columns={'@code':'code', '@from':'from', '@to':'to'})

In [ ]:
df["ns2:Name"][0]

In [ ]:
pd.Series(df["ns2:Name"][0])

In [ ]:
df['ns2:Name'].apply(pd.Series).drop([0], axis=1)

In [ ]:
df = df.join(df['ns2:Name'].apply(pd.Series).drop([0], axis=1), how='left')

In [ ]:
df = df.drop(['ns2:Name'], axis=1).rename(columns={'code':'code'})

In [ ]:
save_to_csv(file, df, entry)

In [ ]:
root  = "ns3:ExportVirtualMedicines"
entry = "ns3:VmpGroup"
df = pd.DataFrame.from_dict(d[root][entry])

In [ ]:
df.sample(5)

In [ ]:
df = df.join(df['ns3:Data'].apply(pd.Series), how='left')

In [ ]:
df = df.drop(['ns3:Data', 0, 1, 2, 3], axis=1).rename(columns={'@code':'code', '@from':'from', '@to':'to'})

In [ ]:
df = df.join(df['ns2:Name'].apply(pd.Series), how='left')

In [ ]:
df = df.drop(['ns2:Name', 'ns3:NoGenericPrescriptionReason', 'ns3:NoSwitchReason', 0], axis=1).rename(columns={'code':'code'})

In [ ]:
save_to_csv(file, df, entry)

# file3

In [ ]:
d = load_print(file3)

In [ ]:
root  = "ns2:ExportCompanies"
entry = "ns2:Company"
df = pd.DataFrame.from_dict(d[root][entry])

In [ ]:
df = df.join(df['ns2:Data'].apply(pd.Series), how='left')
df = df.drop(['ns2:Data'], axis=1)

In [ ]:
save_to_csv(file=file3, df=df, entry=entry)

In [ ]:
df.sample(5)

# file2

In [ ]:
file = file2

In [ ]:
d = load_print(file)

In [ ]:
root  = "ns2:ExportCompounding"
entry = "ns2:CompoundingIngredient"

In [ ]:
df = pd.DataFrame.from_dict(d[root][entry])

In [ ]:
df.sample(5)

In [ ]:
df = df.join(df['ns2:Data'].apply(pd.Series), how='left')

In [ ]:
df = df.drop(['ns2:Data'], axis=1).rename(columns={'@code':'code', '@codeType':'codeType', '@from':'from'})

In [ ]:
df = df.join(df['Synonym'].apply(pd.Series), how='left')

In [ ]:
df = df.drop(['Synonym', 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13], axis=1).rename(columns={0:'Synonym_Fr'})

In [ ]:
df = df.join(df['Synonym_Fr'].apply(pd.Series), how='left')

In [ ]:
df = df.drop(['Synonym_Fr', "@xml:lang", "@rank"], axis=1).rename(columns={'#text':'Synonym_Fr'})

In [ ]:
save_to_csv(file, df, entry)

# file6

In [ ]:
file = file6

In [ ]:
d = load_print(file)

In [ ]:
root  = "ns4:ExportReimbursements"
entry = "ns4:ReimbursementContext"

In [ ]:
df = pd.DataFrame.from_dict(d[root][entry])

In [ ]:
df.head(5).T

In [ ]:
df = df.join(df['ns4:Data'].apply(pd.Series), how='left')

In [ ]:
df = df.drop(['ns4:Data', 0,1,2,3,4,5, 'ns4:Copayment'], axis=1).rename(columns={'@deliveryEnvironment':'deliveryEnvironment',
                                                   '@code':'deliveryEnvironment_code',
                                                   '@codeType':'deliveryEnvironment_codeType',
                                                   '@legalReferencePath':'legalReferencePath',
                                                   '@from':'from',
                                                   '@to':'to'})

In [ ]:
df = df.join(df['PricingUnit'].apply(pd.Series), how='left')

In [ ]:
df = df.drop(['PricingUnit', 0], axis=1).rename(columns={'Quantity':'PricingUnit_Quantity',
                                                         'Multiple':'PricingUnit_Multiple'})

In [ ]:
df = df.join(df['Label'].apply(pd.Series), how='left')

In [ ]:
df = df.drop(['Label', 0], axis=1).rename(columns={'ns2:Fr':'PricingUnit_Label_Fr',
                                                   'ns2:Nl':'PricingUnit_Label_Nl'})

In [ ]:
df = df.join(df['ns4:ReimbursementCriterion'].apply(pd.Series), how='left')

In [ ]:
df = df.drop(['ns4:ReimbursementCriterion',
              'CopaymentSupplement',
              'PricingSlice',
              'PricingUnit_Multiple', 0], axis=1).rename(columns={'@category':'ReimbursementCriterion_category',
                                                                        '@code':'ReimbursementCriterion_code'})

In [ ]:
df = df.join(df['ns3:Description'].apply(pd.Series), how='left')

In [ ]:
df = df.drop(['ns3:Description', 0], axis=1).rename(columns={'ns2:Fr':'ReimbursementCriterion_Description_Fr',
                                                             'ns2:Nl':'ReimbursementCriterion_Description_Nl'})

In [ ]:
save_to_csv(file, df, entry)

# file1

In [5]:
file = file1

In [6]:
%%time
d = load_print(file)

{
  "ns4:ExportActualMedicines": {
    "@xmlns": "urn:be:fgov:ehealth:samws:v2:actual:common",
    "@xmlns:ns2": "urn:be:fgov:ehealth:samws:v2:core",
    "@xmlns:ns3": "urn:be:fgov:ehealth:samws:v2:company:submit",
    "@xmlns:ns4": "urn:be:fgov:ehealth:samws:v2:export",
    "@xmlns:ns5": "urn:be:fgov:ehealth:samws:v2:refdata",
    "@xmlns:ns6": "urn:be:fgov:ehealth:samws:v2:consultation",
    "@xmlns:ns7": "urn:be:fgov:ehealth:samws:v2:reimbursement:submit",
    "@xmlns:ns8": "urn:be:fgov:ehealth:samws:v2:reimbursementlaw:submit",
    "@xmlns:ns9": "urn:be:fgov:ehealth:samws:v2:virtual:common",
    "@xmlns:ns10": "urn:be:fgov:ehealth:samws:v2:compounding:common",
    "@xmlns:ns11": "urn:be:fgov:ehealth:samws:v2:nonmedicinal:common",
    "@xmlns:ns12": "urn:be:fgov:ehealth:samws:v2:actual:status",
    "@version": "3.4",
    "ns4:Amp": [
      {
        "@vmpCode": "16469",
        "@code": "SAM000025-00",
        "ns4:Data": [
          {
            "@from": "1961-07-01",
            "@to": "2016-09-30",
            "OfficialName": "Haldol 5 mg/ml",
            "Status": "AUTHORIZED",
            "Name": {
              "ns2:Fr": "Haldol 5 mg/ml",
              "ns2:Nl": "Haldol 5 mg/ml",
              "ns2:De": "Haldol 5 mg/ml",
              "ns2:En": "Haldol 5 mg/ml"
            },
            "BlackTriangle": "false",
            "MedicineType": "ALLOPATHIC",
            "ns4:Company": {
              "@actorNr": "01028",
              "ns4:Data": {
                "@from": "1960-01-01",
                "ns3:AuthorisationNr": "1028H",
                "ns3:Denomination": "Janssen-Cilag",
                "ns3:LegalForm": "NV",
                "ns3:StreetName": "Antwerpseweg",
                "ns3:StreetNum": "15-17",
                "ns3:Postcode": "2340",
                "ns3:City": "Beerse",
                "ns3:CountryCode": "BE",
                "ns3:Phone": "03/2805411",
                "ns3:Language": "NL"
              }
            }
          },
          {
            "@from": "2017-09-19",
            "OfficialName": "Haldol 5 mg/ml",
            "Status": "AUTHORIZED",
            "Name": {
              "ns2:Fr": "Haldol 5 mg/ml",
              "ns2:Nl": "Haldol 5 mg/ml",
              "ns2:De": "Haldol 5 mg/ml",
              "ns2:En": "Haldol 5 mg/ml"
            },
            "BlackTriangle": "false",
            "MedicineType": "ALLOPATHIC",
            "ns4:Company": {
              "@actorNr": "01028",
              "ns4:Data": {
                "@from": "1960-01-01",
                "ns3:AuthorisationNr": "1028H",
                "ns3:Denomination": "Janssen-Cilag",
                "ns3:LegalForm": "NV",
                "ns3:StreetName": "Antwerpseweg",
                "ns3:StreetNum": "15-17",
                "ns3:Postcode": "2340",
                "ns3:City": "Beerse",
                "ns3:CountryCode": "BE",
                "ns3:Phone": "03/2805411",
                "ns3:Language": "NL"
              }
            },
            "AbbreviatedName": {
              "ns2:Fr": "Haldol sol. inj. i.m. [amp.] 5 mg / 1 ml",
              "ns2:Nl": "Haldol inj. oploss. i.m. [amp.] 5 mg / 1 ml"
            },
            "ProprietarySuffix": {
              "ns2:Fr": "-",
              "ns2:Nl": "-"
            },
            "PrescriptionName": {
              "ns2:Fr": "Haldol sol. inj. i.m. [amp.] 5 mg / 1 ml",
              "ns2:Nl": "Haldol inj. oploss. i.m. [amp.] 5 mg / 1 ml"
            }
          },
          {
            "@from": "2016-10-01",
            "@to": "2017-09-18",
            "OfficialName": "Haldol 5 mg/ml",
            "Status": "AUTHORIZED",
            "Name": {
              "ns2:Fr": "Haldol 5 mg/ml",
              "ns2:Nl": "Haldol 5 mg/ml",
              "ns2:De": "Haldol 5 mg/ml",
              "ns2:En": "Haldol 5 mg/ml"
            },
            "BlackTriangle": "false",
            "MedicineType": "ALLOPATHIC",
            "ns4:Company": {
              "@actorNr": "01028",
              "ns4:Data": {
                "@from": "1960-01-01",
                "ns3:AuthorisationNr": "1028H",
                "ns3:Denomination": "Janssen-Cilag",
                "ns3:LegalForm": "NV",
                "ns3:StreetName": "Antwerpseweg",
                "ns3:StreetNum": "15-17",
                "ns3:Postcode": "2340",
                "ns3:City": "Beerse",
                "ns3:CountryCode": "BE",
                "ns3:Phone": "03/2805411",
                "ns3:Language": "NL"
              }
            },
            "AbbreviatedName": {
              "ns2:Fr": "Haldol sol. inj. i.m./i.v. [amp.] 5 mg / 1 ml",
              "ns2:Nl": "Haldol inj. oploss. i.m./i.v. [amp.] 5 mg / 1 ml"
            },
            "ProprietarySuffix": {
              "ns2:Fr": "-",
              "ns2:Nl": "-"
            },
            "PrescriptionName": {
              "ns2:Fr": "Haldol sol. inj. i.m./i.v. [amp.] 5 mg / 1 ml",
              "ns2:Nl": "Haldol inj. oploss. i.m./i.v. [amp.]

In [7]:
root  = "ns4:ExportActualMedicines"
entry = "ns4:Amp"

In [8]:
%%time
df = pd.DataFrame.from_dict(d[root][entry])

CPU times: user 1.11 s, sys: 108 ms, total: 1.22 s
Wall time: 15.5 s

In [9]:
d = 0

In [15]:
df.head(5).T

,0,1,2,3,4
vmpCode,16469,16436,16790,23044,14696
code,SAM000025-00,SAM000113-00,SAM000691-00,SAM000987-00,SAM000996-00
ns4:Data,"[{'@from': '1961-07-01', '@to': '2016-09-30', ...","[{'@from': '1961-07-01', '@to': '2016-09-30', ...","[{'@from': '1972-06-01', '@to': '2016-09-30', ...","[{'@from': '1971-03-01', '@to': '2016-09-30', ...","[{'@from': '1970-06-01', '@to': '2016-09-30', ..."
ns4:AmpComponent,"{'@vmpComponentCode': '16469', '@sequenceNr': ...","{'@vmpComponentCode': '16436', '@sequenceNr': ...","{'@vmpComponentCode': '16790', '@sequenceNr': ...","{'@vmpComponentCode': '23044', '@sequenceNr': ...","{'@vmpComponentCode': '14696', '@sequenceNr': ..."
ns4:Ampp,"[{'@ctiExtended': '000025-01', 'ns4:Data': {'@...","[{'@ctiExtended': '000113-01', 'ns4:Data': {'@...","[{'@ctiExtended': '000691-01', 'ns4:Data': [Or...","{'@ctiExtended': '000987-01', 'ns4:Data': [{'@...","[{'@ctiExtended': '000996-01', 'ns4:Data': [Or..."
0,"{'@from': '1961-07-01', '@to': '2016-09-30', '...","{'@from': '1961-07-01', '@to': '2016-09-30', '...","{'@from': '1972-06-01', '@to': '2016-09-30', '...","{'@from': '1971-03-01', '@to': '2016-09-30', '...","{'@from': '1970-06-01', '@to': '2016-09-30', '..."
1,"{'@from': '2017-09-19', 'OfficialName': 'Haldo...","{'@from': '2016-10-01', 'OfficialName': 'Haldo...","{'@from': '2016-10-01', 'OfficialName': 'Dakta...","{'@from': '2016-10-01', 'OfficialName': 'Gyno-...","{'@from': '2016-10-01', 'OfficialName': 'Imap ..."
2,"{'@from': '2016-10-01', '@to': '2017-09-18', '...",NaN,NaN,NaN,NaN
@from,NaN,NaN,NaN,NaN,NaN
OfficialName,NaN,NaN,NaN,NaN,NaN
Status,NaN,NaN,NaN,NaN,NaN
Name,NaN,NaN,NaN,NaN,NaN
BlackTriangle,NaN,NaN,NaN,NaN,NaN
MedicineType,NaN,NaN,NaN,NaN,NaN
ns4:Company,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN

In [16]:
df.shape

(1334, 18)

In [12]:
df = df.head(1334)

In [13]:
df = df.rename(columns={'@vmpCode':'vmpCode', '@code':'code'})

In [14]:
df = df.join(df['ns4:Data'].apply(pd.Series), how='left')

/home/ubuntu/venv/lib/python3.5/site-packages/pandas/core/indexes/range.py:465: RuntimeWarning: unorderable types: int() < str(), sort order is undefined for incomparable objects
  return self._int64index.union(other)
/home/ubuntu/venv/lib/python3.5/site-packages/pandas/core/indexes/api.py:107: RuntimeWarning: unorderable types: str() < int(), sort order is undefined for incomparable objects
  result = result.union(other)
/home/ubuntu/venv/lib/python3.5/site-packages/pandas/core/indexes/api.py:69: RuntimeWarning: unorderable types: str() < int(), sort order is undefined for incomparable objects
  index = _union_indexes(indexes, sort=sort)

In [ ]:
df = df.drop(['ns4:Data', 0,3,4,5,6,7,8,9,10], axis=1).rename(columns={'@vmpCode':'vmpCode',
                                                                       '@code':'code',
                                                                       '@from':'from',
                                                                       1:'@1', 2:'@2'})

In [ ]:
df = df.join(df['ns4:Company'].apply(pd.Series), how='left')

In [ ]:
df = df.drop(['ns4:Company', 0], axis=1).rename(columns={'@actorNr':'actorNr'})

In [ ]:
df = df.join(df['ns4:Data'].apply(pd.Series), how='left')

In [ ]:
df = df.drop(['ns4:Data', 0], axis=1).rename(columns={'@from':'from'})

In [ ]:
df = df.join(df['ns4:AmpComponent'].apply(pd.Series), how='left', lsuffix="hola__")

In [ ]:
df = df.drop(['ns4:AmpComponent', 0], axis=1).rename(columns={'Quantity':'PricingUnit_Quantity',
                                                         'Multiple':'PricingUnit_Multiple'})

In [ ]:
df = df.join(df['ns4:Ampp'].apply(pd.Series), how='left')

In [ ]:
df = df.drop(['ns4:Ampp', 0], axis=1).rename(columns={'Quantity':'PricingUnit_Quantity',
                                                         'Multiple':'PricingUnit_Multiple'})